<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
       <h3>@key.enter -> 监听键盘回车事件</h3> 
       <!-- <input @keyup.enter="fn" v-model="username" type="text"> -->
       <input @keyup="fn" v-model="username" type="text">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                username: ''
            },
            methods: {
                fn(e) {
                    // 只要一按按键就会触发
                    // console.log('按回车键触发', this.username)

                    
                    // 通常第一个形参，可以直接获取事件对象
                    console.log(e)

                    // 按键修饰符的原理
                    if (e.key === 'Enter') {
                        console.log('按回车键触发', this.username)
                    }
                }
            }
        })
    </script>
</body>

</html>