<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
       <h3>登记表单</h3>
       姓名:
       <input type="text" name="" id="" v-model="username">
       <br><br>

       是否单身：
       <input type="checkbox" name="" id="" v-model="isSingle">
       <br><br>
       

       <!--
          name: 分组，同一组会互斥
          value: 选中的值用于提交给后台的数据 
        -->
       性别：
       <input type="radio" name="gender" id="" value="1" v-model="gender">男
       <input type="radio" name="gender" id="" value="2" v-model="gender">女
       <br><br>
       
       <!--
          option需要设置value属性，表示提交给后台的数据
          select的value属性，关联了当前选中的option的value值 
        -->
       所在城市：
       <select name="" id="" v-model="cityId">
         <option value="101">北京</option>
         <option value="102">上海</option>
         <option value="103">广州</option>
         <option value="104">深圳</option>
       </select>
       <br><br>
       
       自我描述：
       <textarea name="" id="" v-model="desc"></textarea>
       <br><br>
      
       <button>提交</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                username: '',
                isSingle: true,
                gender: '1',
                cityId: '104',
                desc: ''
            },
            methods: {
                
            }
        })
    </script>
</body>

</html>