<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
       <table border="1">
        <tbody>
            <tr v-for="item in list" :key="item.id">
                <td>{{ item.name }}</td>
                <td>{{ item.num }}</td>
            </tr>
        </tbody>
       </table>

       <p>Total: {{ totalCount }}</p>
       <p>Total: {{ totalCount }}</p>
       <p>Total: {{ totalCount }}</p>
       <p>Total: {{ totalCount }}</p>
       <p>Total: {{ totalCount }}</p>
       <p>Total: {{ totalCount }}</p>


       <p>Total: {{ totalCountFn() }}</p>
       <p>Total: {{ totalCountFn() }}</p>
       <p>Total: {{ totalCountFn() }}</p>
       <p>Total: {{ totalCountFn() }}</p>
       <p>Total: {{ totalCountFn() }}</p>
       <p>Total: {{ totalCountFn() }}</p>

       <hr>


       姓：<input type="text" v-model="firstName"> + 
       名：<input type="text" v-model="lastName"> = 
       <span>{{ fullName }}</span>
       <br>
       <button @click="changeName">改名卡</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                list: [
                    { id: 1, name: 'item1', num: 10 },
                    { id: 2, name: 'item2', num: 20 },
                    { id: 3, name: 'item3', num: 30 }
                ],
                firstName: '张',
                lastName: '三'
            },
            methods: {
                totalCountFn(){
                    // 测试方法调用了几次，没有缓存，每次调用都会执行
                    console.log('totalCountFn')

                    let total = 0
                    this.list.forEach(item => {
                        total += item.num
                    })
                    return total
                },
                changeName() {
                    this.fullName = '李四'
                }
            },
            computed: {
                totalCount() {
                    // 测试计算属性计算了几次，验证缓存机制
                    // 有缓存，虽然多处引用了这个属性，但只会计算一次
                    console.log('计算属性被计算了')

                    // 这里可以写复杂的计算逻辑
                    let total = 0
                    total= this.list.reduce((sum, item) => sum + item.num, 0)
                    return total
                },
                fullName: {
                    // 当访问计算属性时,会执行get方法(有缓存)
                    get() {
                        return this.firstName + this.lastName
                    },
                    // 当计算属性被修改赋值,会执行set方法
                    set(value) {
                        // console.log('set fullName:', value)
                        this.firstName = value.slice(0, 1)
                        this.lastName = value.slice(1)
                    }
                }
            }
        })
    </script>
</body>

</html>