<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 300px;
            min-height: 50px;
            border: 1px solid #000;
            margin-top: 10px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
       <div>
            <textarea name="" id="" v-model="words"></textarea>
       </div>
       <div>
            翻译：
            <div class="box">{{ result }}</div>
       </div>
       <hr>

       <div>
        <select name="" id="" v-model="translate.lang">
            <option value="italy">意大利语</option>
            <option value="eng">英语</option>
            <option value="japan">日语</option>
            
        </select>
       </div>
       <div>
            <textarea name="" id="" v-model="translate.words"></textarea>
       </div>
       <div>
            翻译：
            <div class="box">{{ result2 }}</div>
       </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                words: '',
                obj: {
                    msg: ''
                },
                //翻译结果
                result: '',
                translate: {
                    words: 'apple',
                    lang: 'italy'
                },
                result2: ''
            },
            watch: {
                // 普通类型监听
                words (newValue, oldValue) {
                    // console.log(newValue, oldValue)

                    //防抖
                    clearTimeout(this.timer)
                    // this.timer: 延时器id
                    this.timer = setTimeout(async () => {
                        const res = await axios({
                            url: '',
                            params: {
                                words: newValue
                            }
                        })
                        this.result = res.data.data
                        console.log(this.result)
                    }, 300)

                },
                //对象类型监听
                'obj.msg' (newValue) {
                    console.log(newValue)
                },
                translate: {
                    deep: true,
                    immediate: true,
                    handler (newValue) {
                        // console.log(newValue)
                        clearTimeout(this.timer2)
                        this.timer2 = setTimeout(async () => {
                            const res = await axios({
                                url: '',
                                params: newValue
                                // {
                                //     words: newValue.words,
                                //     lang: newValue.lang
                                // }
                            })
                            this.result2 = res.data.data
                            console.log(res.data.data)
                        }, 300)
                    }
                }
            }
        })
    </script>
</body>

</html>